/* Main Section */

.section_d{
  display: flex;
  justify-content: center;
  gap: 2rem;

  align-items:center;
  /* height: 80vh; */

  
}

.main_section {
  padding-top: 10em;
  /* padding-bottom: 10em; */
  /* text-align: left; */

  padding: 5em 2em;


}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.main h1 {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333; /* Darker color for better readability */
  margin-bottom: 0.5em; /* Add some space below the heading */
  
  
}
.main h2 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .2px;
  color: #333; /* Darker color for better readability */
  margin-bottom: 0.2em; /* Add some space below the heading */
}

.main p {
  font-size: 1.1em;
  color: #666; /* Slightly darker text color for better readability */
  max-width: 600px; /* Limit the width of the paragraph for better readability */
  line-height: 1.8; /* Increase line height for better readability */
}

.main p span,
.main h1 span {
  color: #2b4b28; /* Same as before, to maintain consistency */
}

/* Social Links */
.social_links {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  margin-top: 2em; /* Add some space between main content and social links */
}

.social_bar {
  cursor: pointer;
  padding: 0.8em;
  border-radius: 50%;
  background-color: #f0f0f0; /* Light gray background */
  transition: transform 0.3s, background-color 0.3s;
}

.social_bar:hover {
  transform: scale(1.1);
  background-color: #e0e0e0; /* Darker background color on hover */
}

/* Resume Section */
.resume_section {
  margin-top: 2em; /* Add some space between social links and resume link */
}

.resume_section h3 a {
  display: inline-block;
  padding: 0.8em 1.5em;
  background-color: #2b4b28;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.resume_section h3 a:hover {
  background-color: #284e24;
}

/* About Section */
.about_section {
  max-width: 100%;
  padding: 5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.heading_section{
  margin-top: 1rem;

}

.images {
  font-size: .5rem;
}
.about_text h3 {
  font-size: 2.5em;
  color: #2b4b28;
  margin-bottom: 0.5em;
}

.about_text p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}

.about_text p span {
  color: #399031;
}

/* Media Queries */
@media (max-width: 768px) {
  .about_section {
    flex-direction: column;
    gap: 2em;
  }
  .section_d{
    display: block;
  }
}
@media (max-width: 640px) {
  .section_d{
    display: block;
  }
}

.skills_tech {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills_box {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em;
  gap: .5em;
  border-radius: 1em;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  font-size: .3rem;
}

.skills_box:hover {
  transform: scaleX(1.05);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 150ms;
}

.skills_grid {
  width: 70%;
  margin-top: 1em;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  gap: .4em;
  justify-content: center;
  align-items: center;
}

@media (min-width: 357px) {
  .skills_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .about_text {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .skills_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .about_text {
    width: 100%;
  }
 
}

/* md */
@media (min-width: 768px) {
  .skills_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .skills_box {
    width: 100%;
    padding: 1em 2em;
    gap: 1em;
    border-radius: 1em;
  }
  .skills_tech {
    width: 100%;
    margin-right: 5rem;
  }
  .about_text {
    width: 60%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .skills_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .skills_box {
    width: 100%;
    padding: 2em 4em;
    gap: 2em;
    border-radius: 1em;
  }
}
