.nav_logo {
  display: grid;
  place-content: center;
  box-shadow: 2px 2px 3px rgba(1, 1, 1, 0.5);
  border-radius: 0.8rem;
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.nav_toggle {
  font-size: 1.5rem;
  color: #9b0859d3;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
}

.nav_toggle:hover {
  color: black;
  transform: rotate(90deg);
}

.links a {
  color: #1f2937;
  font-size: 1.1rem;
  display: block;
  padding: 0.2rem 1rem;
  transition: all 0.3s linear;
  text-decoration: none;
}

.links a:hover {
  background-color: #84ca7dd3;
  color: #2770d6;
  padding-left: 1.5rem;
}
.links_container {
  overflow: hidden;
  transition: all 0.3s linear;
}

/* media section ------------------------------------------ */

/* xs */
/* @media (max-width: 475px) {
} */

/* sm */
/* @media (max-width: 640px) {
} */

/* md */
@media (min-width: 768px) {
  .nav_toggle {
    display: none;
  }
  .nav_header {
    padding: 0px;
  }
  .nav_center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
  }
  .links {
    display: flex;
    gap: 1.5rem;
  }
  .links a {
    padding: 0;
  }
  .links a:hover {
    color: rgba(167, 170, 12, 0.801);
    padding: 0;
    background-color: transparent;
    box-shadow: 2px 2px 3px rgba(1, 1, 1, 0.5);
  }
  .links_container {
    height: auto !important;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
