/* :root {
  
} */
* {
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
  color: #1f2937;
  letter-spacing: 0.025em;
  line-height: calc(1em + 0.5rem);
}
*,
html {
  scroll-behavior: smooth !important;
}

section {
  scroll-margin: 5em;
}
body {
  font-family: "Roboto", sans-serif;
}

image,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
} */

li,
button {
  cursor: pointer;
  border: none;
  list-style: none;
  text-transform: capitalize;
}
.icons {
  width: 30px;
  height: 30px;
}
.icons:hover {
  background-color: rgb(172, 219, 150);
  /* box-shadow: 0 25px 50px 12px rgba(3, 2, 2, 0.25); */
  transform: scale(1.2);
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
  transition: 0.3s ease;
}
