
/* About Section */
.about_section {
  max-width: 100%;
  padding: 5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.images{
  font-size: .5rem;
}
.about_text h3 {
  font-size: 2.5em;
  color: #2b4b28;
  margin-bottom: 0.5em;

}

.about_text p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;

}

.about_text p span {
  color: #399031;
}

/* Media Queries */
@media (max-width: 768px) {
  .about_section {
    flex-direction: column;
    gap: 2em;
  }


}
.skills_tech {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em;
  gap: 2em;
  border-radius: 1em;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  font-size: .7rem;
}
.skills_box:hover {
  transform: scaleX(1.05);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 150ms;
}
.skills_grid {
  width: 80%;
  margin-top: 5em;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  gap: em;
  justify-content: center;
  align-items: center;
}
@media (min-width: 357px) {
  .skills_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .about_text{
    width: 100%;
  }
}

@media (min-width: 640px) {
  .skills_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .about_text{
    width: 100%;
  }
}

/* md */
@media (min-width: 768px) {
  .skills_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .skills_box {
    width: 100%;
    padding: 1em 2em;
    gap: 1em;
    border-radius: 1em;
  }
  .skills_tech{
    width: 100%;
    margin-right:5rem;

  }
  .about_text{
    width: 60%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .skills_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .skills_box {
    width: 100%;
    padding: 2em 4em;
    gap: 2em;
    border-radius: 1em;
  }
}

